XFactoryNET.Custom.Panzoo.Module/Service References/Services.Dosaggio/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Arresta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ArrestaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Avvia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AvviaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrMisc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrMiscResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CurrMiscResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iBil" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPesoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPesoResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdOdL">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IdOdLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdOdLResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NrIngrediente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iBil" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NrIngredienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NrIngredienteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NrMisc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NrMiscResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NrMiscResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QtàEstratta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iBil" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QtàEstrattaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QtàEstrattaResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Running">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RunningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunningResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatoBilancia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iBil" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatoBilanciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StatoBilanciaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopMisc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nrMisc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopMiscResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>